[submodule "custom/webcentral"]
	path = custom/webcentral
	url = git@github.com:CuBoulder/express_webcentral.git
[submodule "custom/alumni"]
	path = custom/alumni
	url = git@github.com:CuBoulder/express_alumni.git
[submodule "custom/chancellor"]
	path = custom/chancellor
	url = git@github.com:CuBoulder/express_chancellor.git
[submodule "custom/artmuseum"]
	path = custom/artmuseum
	url = git@github.com:CuBoulder/express_artmuseum.git
[submodule "custom/crowdfunding"]
	path = custom/crowdfunding
	url = git@github.com:CuBoulder/express_crowdfunding.git
[submodule "custom/leeds"]
	path = custom/leeds
	url = git@github.com:CuBoulder/express_leeds.git
[submodule "custom/instaar"]
	path = custom/instaar
	url = git@github.com:CuBoulder/express_instaar.git
[submodule "custom/culibraries"]
	path = custom/culibraries
	url = git@github.com:CuBoulder/express_culibraries.git
[submodule "custom/cu_newsletter_bundle"]
	path = custom/cu_newsletter_bundle
	url = git@github.com:CuBoulder/cu_newsletter_bundle.git
[submodule "custom/cu_classes_bundle"]
	path = custom/cu_classes_bundle
	url = git@github.com:CuBoulder/cu_classes_bundle.git
[submodule "custom/cu_class_primer_bundle"]
	path = custom/cu_class_primer_bundle
	url = git@github.com:CuBoulder/cu_class_primer_bundle.git
[submodule "custom/artsandsciences"]
	path = custom/artsandsciences
	url = git@github.com:CuBoulder/express_artsandsciences.git
[submodule "custom/cu_homepage_bundle"]
	path = custom/cu_homepage_bundle
	url = git@github.com:CuBoulder/express_homepage.git
[submodule "custom/cu_connect_bundle"]
	path = custom/cu_connect_bundle
	url = git@github.com:CuBoulder/cu_connect_bundle.git
[submodule "custom/cu_vcr_bundle"]
	path = custom/cu_vcr_bundle
	url = git@github.com:CuBoulder/cu_vcr_bundle.git
[submodule "custom/cu_storify_bundle"]
	path = custom/cu_storify_bundle
	url = git@github.com:CuBoulder/cu_storify_bundle.git
[submodule "custom/cu_soundcloud_bundle"]
	path = custom/cu_soundcloud_bundle
	url = git@github.com:CuBoulder/cu_soundcloud_bundle.git
[submodule "custom/cu_publications_bundle"]
	path = custom/cu_publications_bundle
	url = git@github.com:CuBoulder/cu_publications_bundle.git
[submodule "custom/cu_news_migration_bundle"]
	path = custom/cu_news_migration_bundle
	url = git@github.com:CuBoulder/cu_news_migration_bundle.git
[submodule "custom/cu_livestream_bundle"]
	path = custom/cu_livestream_bundle
	url = git@github.com:CuBoulder/cu_livestream_bundle.git
[submodule "custom/cu_livechat_bundle"]
	path = custom/cu_livechat_bundle
	url = git@github.com:CuBoulder/cu_livechat_bundle.git
[submodule "custom/cu_editor_note_bundle"]
	path = custom/cu_editor_note_bundle
	url = git@github.com:CuBoulder/cu_editor_note_bundle.git
[submodule "custom/cu_demo_bundle"]
	path = custom/cu_demo_bundle
	url = git@github.com:CuBoulder/cu_demo_bundle.git
[submodule "custom/cu_campus_news_bundle"]
	path = custom/cu_campus_news_bundle
	url = git@github.com:CuBoulder/cu_campus_news_bundle.git
[submodule "custom/cu_advanced_article_bundle"]
	path = custom/cu_advanced_article_bundle
	url = git@github.com:CuBoulder/cu_advanced_article_bundle.git
[submodule "custom/cu_advanced_site_building_bundle"]
	path = custom/cu_advanced_site_building_bundle
	url = git@github.com:CuBoulder/cu_advanced_site_building_bundle.git
[submodule "custom/cu_alumni_bundle"]
	path = custom/cu_alumni_bundle
	url = git@github.com:CuBoulder/cu_alumni_bundle.git
[submodule "custom/cu_chemistry_titles_bundle"]
	path = custom/cu_chemistry_titles_bundle
	url = git@github.com:CuBoulder/cu_chemistry_titles_bundle.git
[submodule "custom/cu_custom_logo_bundle"]
	path = custom/cu_custom_logo_bundle
	url = git@github.com:CuBoulder/cu_custom_logo_bundle.git
[submodule "custom/cu_countdown_bundle"]
	path = custom/cu_countdown_bundle
	url = git@github.com:CuBoulder/cu_countdown_bundle.git
[submodule "custom/cu_education_bundle"]
	path = custom/cu_education_bundle
	url = git@github.com:CuBoulder/cu_education_bundle.git
