[submodule "custom/webcentral"]
	path = custom/webcentral
	url = git@github.com:CuBoulder/express_webcentral.git
[submodule "custom/alumni"]
	path = custom/alumni
	url = git@github.com:CuBoulder/express_alumni.git
[submodule "custom/homepage"]
	path = custom/homepage
	url = git@github.com:CuBoulder/express_homepage.git
[submodule "custom/chancellor"]
	path = custom/chancellor
	url = git@github.com:CuBoulder/express_chancellor.git
[submodule "custom/artmuseum"]
	path = custom/artmuseum
	url = git@github.com:CuBoulder/express_artmuseum.git
[submodule "custom/crowdfunding"]
	path = custom/crowdfunding
	url = git@github.com:CuBoulder/express_crowdfunding.git
[submodule "custom/leeds"]
	path = custom/leeds
	url = git@github.com:CuBoulder/express_leeds.git
[submodule "custom/instaar"]
	path = custom/instaar
	url = git@github.com:CuBoulder/express_instaar.git
[submodule "custom/culibraries"]
	path = custom/culibraries
	url = git@github.com:CuBoulder/express_culibraries.git
[submodule "custom/cu_newsletter_bundle"]
	path = custom/cu_newsletter_bundle
	url = git@github.com:CuBoulder/cu_newsletter_bundle.git
